# Ignore node modules everywhere
**/node_modules/

# Ignore build and cache folders
**/.cache/
**/dist/
**/.next/
**/build/

# Ignore environment and log files
*.env
*.log
.env

# Ignore system files
.DS_Store

# Optional: VS Code settings
.vscode/
